.card{
    text-align: center;
    width: 25rem; 
    height: auto;  
    margin-top: 2%; 
   

}

body{
    background-color:#EFEBE9 ;
}
.container{
        display: flex;
        flex-direction: column;
        text-align: center;
        
        


}
.card-boite-noel{
    display: flex;
    flex-direction: row;
    align-content: center;
    margin: 1.5rem;
    
    
}
.card-noel-two{
    display: flex;
    flex-direction: row;
    margin: 1.5rem;

}
.btn-nico{
   background-color: #5D4037;
   color: white;
}

.modal-number{
    width: 25rem;
    height: auto;
}

.image-modal1{
    width: 25rem;
    height: auto;
}
.prix{
    background-color:#3E2723 ;
    color: white;
}